[user]
  name = Ryutooooo
  email = rf.ryutooooo.0907@gmail.com

[alias]
  s = status
  b = branch
  f = fetch
  c = checkout

[core]
	excludesfile = /Users/ryutooooo/.gitignore_global

[ghq]
  	root = /Users/ryutooooo/.ghq/
	root = /Users/ryutooooo/.go

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
